<header class="m-grid__item		m-header" data-minimize="minimize" data-minimize-offset="200" data-minimize-mobile-offset="200">
  <app-header-nav-top [current-module-name]="'Capture Studio'"></app-header-nav-top>
  <app-header-nav-bottom></app-header-nav-bottom>
</header>
<!-- begin::Body -->

<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body m-page__container">
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="m-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- end::Body -->
<app-footer></app-footer>