<div class="row m-section">
  <div class="col-lg-12 m-section__content">

    <div class="m-section__content">
      <div class="row">
        <div class="col">
          <!--begin: Dropdown-->
          <!-- <br> primaryEntryArray value: {{primaryEntryArray.value | json}}
          <br> entriesArray value: {{entriesArray.value | json}}
          <br> entriesArray length: {{entriesArray.length }}
          <br> LastEntryArray value: {{LastEntryArray.value | json}} 
          <br> -->
          <!-- <br> entriesArray value: {{entriesArray.value | json}} -->
          <div class="m-dropdown m-dropdown--inline  m-dropdown--arrow" data-dropdown-toggle="click">
            <a href="#" class="m-dropdown__toggle btn btn-success dropdown-toggle">
              Add
            </a>
            <div class="m-dropdown__wrapper">
              <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li *ngFor="let edOption of entryDefinitionOptions" class="m-nav__item">
                        <a (click)="addEntryDefinition(edOption.value)" href="" class="m-nav__link">
                          <i class="m-nav__link-icon la	la-angle-right"></i>
                          <span class="m-nav__link-text">
                            {{edOption.name}}
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end: Dropdown-->
        </div>
        <div class="col m--align-right">

          <a class="btn m-btn m-btn--link" (click)="expandAll()" data-toggle="m-tooltip" data-placement="top" title="Expand All">
            <i class="la la-angle-double-down"></i>
          </a>
          <a class="btn m-btn m-btn--link" (click)="collapseAll()" data-toggle="m-tooltip" data-placement="top" title="Collapse All">
            <i class="la la-angle-double-up"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="m-separator m-separator--dashed"></div>

    <!--begin::Primary-->
    <!-- <div [formGroup]="entryDefinitionGroup">
      <div formArrayName="primaryEntryArray">


        <app-entry-definition-container *ngFor="let item of primaryEntryArray.controls; let i=index" [index]="i+1" [item]="item"
          (deleteEmitter)="deleteEntryDefinition(i,'primary')">

          <app-poi-entry-type  [index]="i+1" [parentGroup]="entryDefinitionGroup" [arrayName]="'primaryEntryArray'" [groupName]="i">
          </app-poi-entry-type>

        </app-entry-definition-container>
    

      </div>
    </div> -->
    <!--end::Primary-->


    <!-- <div *ngIf="entriesArray && entriesArray.controls.length>0" class="m-demo" data-code-preview="true" data-code-html="true"
      data-code-js="false"> -->
    <div class="m-demo__preview1" [formGroup]="entryDefinitionGroup">
      <div id="m_sortable_portlets" formArrayName="entriesArray" [dragula]='"bag-items"' [dragulaOptions]="dragulaOptions" [dragulaModel]='entriesArray.controls'>

        <!--begin::Portlet-->
        <app-entry-definition-container *ngFor="let item of entriesArray.controls; let i=index" [index]="i+primaryEntryArray.controls.length+1"
          [item]="item" (deleteEmitter)="deleteEntryDefinition(i,'entries')" [ngSwitch]="item.get('entryType').value">

          <!--begin::ProofOfIdentity entry type -->
          <app-poi-entry-type *ngSwitchCase="entryType.ProofOfIdentity" [index]="i+1+primaryEntryArray?.controls?.length" [parentGroup]="entryDefinitionGroup"
            [arrayName]="'entriesArray'" [groupName]="i" [captureMediaChannels]="captureMediaChannels" [worldRegionInfo]="worldRegionInfo"
            [documentCategories]="poiDocumentCategories">
          </app-poi-entry-type>
          <!--end::ProofOfIdentity entry type -->

          <!--begin::ProofOfAddress entry type -->
          <app-poa-entry-type *ngSwitchCase="entryType.ProofOfAddress" [index]="i+1+primaryEntryArray?.controls?.length" [parentGroup]="entryDefinitionGroup"
            [arrayName]="'entriesArray'" [groupName]="i" [captureMediaChannels]="captureMediaChannels" [worldRegionInfo]="worldRegionInfo"
            [documentCategories]="poaDocumentCategories">
          </app-poa-entry-type>
          <!--end::ProofOfAddress entry type -->

          <!--begin::AdditionalDocument entry type -->
          <app-ad-entry-type *ngSwitchCase="entryType.AdditionalDocument" [index]="i+1+primaryEntryArray?.controls?.length" [parentGroup]="entryDefinitionGroup"
            [arrayName]="'entriesArray'" [groupName]="i" [captureMediaChannels]="captureMediaChannels">
          </app-ad-entry-type>
          <!--end::AdditionalDocument entry type -->

          <!--begin::Selfie entry type -->
          <app-selfie-entry-type *ngSwitchCase="entryType.Selfie" [index]="i+1+primaryEntryArray?.controls?.length" [parentGroup]="entryDefinitionGroup"
            [arrayName]="'entriesArray'" [groupName]="i" [captureMediaChannels]="captureMediaChannels"></app-selfie-entry-type>
          <!--end::Selfie entry type -->

        </app-entry-definition-container>
        <!--end::Portlet-->

        <div [ngClass]="displayEntriesArrayEmptyCss('entriesArray')">
          <app-field-state-display [displayMessage]="isEntriesArrayEmpty('entriesArray')" [message]="'at least one entry definition should be exist!'"></app-field-state-display>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!--begin::optional-->
    <!-- <div [formGroup]="entryDefinitionGroup">
      <div formArrayName="LastEntryArray">

        <app-entry-definition-container *ngFor="let item of LastEntryArray.controls; let i=index" [index]="i+1+primaryEntryArray.controls.length+entriesArray.controls.length"
          [item]="item" (deleteEmitter)="deleteEntryDefinition(i,'optional')">

          <app-selfie-entry-type *ngSwitchCase="entryType.Selfie" [index]="i+1+primaryEntryArray?.controls?.length" [parentGroup]="entryDefinitionGroup"
          [arrayName]="'entriesArray'" [groupName]="i" [captureMediaChannels]="captureMediaChannels"></app-selfie-entry-type>

        </app-entry-definition-container>

      </div>
    </div> -->
    <!--end::optional-->

  </div>
</div>