<div class="row m-section">
  <div class="col-lg-12 m-section__content">

    <div class="m-section__content">
      <div class="row">
        <div class="col">
          <!--begin: Dropdown-->
          <br> primaryEntryArray value: {{primaryEntryArray.value | json}}
          <br> entriesArray value: {{entriesArray.value | json}}
          <br> entriesArray length: {{entriesArray.length }}
          <br> LastEntryArray value: {{LastEntryArray.value | json}}
          <br>
          <div class="m-dropdown m-dropdown--inline  m-dropdown--arrow" data-dropdown-toggle="click">
            <a href="#" class="m-dropdown__toggle btn btn-success dropdown-toggle">
              Add
            </a>
            <div class="m-dropdown__wrapper">
              <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li *ngFor="let edOption of entryDefinitionOptions" class="m-nav__item">
                        <a (click)="addEntryDefinition(edOption.value)" href="" class="m-nav__link">
                          <i class="m-nav__link-icon la	la-angle-right"></i>
                          <span class="m-nav__link-text">
                            {{edOption.name}}
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end: Dropdown-->
        </div>
        <div class="col m--align-right">

          <a class="btn m-btn m-btn--link" (click)="expandAll()" data-toggle="m-tooltip" data-placement="top" title="Expand All">
            <i class="la la-angle-double-down"></i>
          </a>
          <a class="btn m-btn m-btn--link" (click)="collapseAll()" data-toggle="m-tooltip" data-placement="top" title="Collapse All">
            <i class="la la-angle-double-up"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="m-separator m-separator--dashed"></div>

    <!--begin::Primary-->
    <div [formGroup]="entryDefinitionGroup">
      <div formArrayName="primaryEntryArray">

        <!--begin::Portlet-->
        <app-entry-definition-container *ngFor="let item of primaryEntryArray.controls; let i=index" [index]="i+1" [item]="item"
          (deleteEmitter)="deleteEntryDefinition(i,'primary')">

          <app-proof-of-id-entry-type [item]="item" [index]="i+1" [parentGroup]="entryDefinitionGroup" [arrayName]="'primaryEntryArray'"
            [groupName]="i">
          </app-proof-of-id-entry-type>

        </app-entry-definition-container>
        <!--end::Portlet-->

      </div>
    </div>
    <!--end::Primary-->


    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
      <div class="m-demo__preview" [formGroup]="entryDefinitionGroup">
        <div id="m_sortable_portlets" formArrayName="entriesArray" [dragula]='"bag-items"'  [dragulaOptions]="options" [dragulaModel]='entriesArray.controls'>

          <!--begin::Portlet-->
          <app-entry-definition-container *ngFor="let item of entriesArray.controls; let i=index" [index]="i+primaryEntryArray.controls.length+1"
            [item]="item" (deleteEmitter)="deleteEntryDefinition(i,'entries')" [ngSwitch]="item.get('entryType').value">
          <<  {{item.get('entryType').value}} >>
            <app-proof-of-id-entry-type *ngSwitchCase="entryTypes.ProofOfIdentity" [item]="item" [index]="i+1+primaryEntryArray?.controls?.length" [parentGroup]="entryDefinitionGroup"
              [arrayName]="'entriesArray'" [groupName]="i">
            </app-proof-of-id-entry-type>

            <app-proof-of-id-entry-type *ngSwitchCase="entryTypes.ProofOfAddress" [item]="item" [index]="i+1+primaryEntryArray?.controls?.length" [parentGroup]="entryDefinitionGroup"
            [arrayName]="'entriesArray'" [groupName]="i">
          </app-proof-of-id-entry-type>

                  <app-temp-view *ngSwitchCase="entryTypes.AdditionalDocument"></app-temp-view>

          </app-entry-definition-container>
          <!--end::Portlet-->

        </div>
      </div>
    </div>

    <!--begin::optionalSelfie-->
    <div [formGroup]="entryDefinitionGroup">
      <div formArrayName="LastEntryArray">

        <!--begin::Portlet-->
        <app-entry-definition-container *ngFor="let item of LastEntryArray.controls; let i=index" [index]="i+1+primaryEntryArray.controls.length+entriesArray.controls.length"
          [item]="item" (deleteEmitter)="deleteEntryDefinition(i,'optional')">

          <!-- <app-proof-of-id-entry-type [item]="item" [index]="i+1+primaryEntryArray.controls.length+entriesArray.controls.length"
            [parentGroup]="entryDefinitionGroup" [arrayName]="'optionalSelfieEntry'" [groupName]="i">
          </app-proof-of-id-entry-type> -->
            <app-selfie-entry-type [selfieEntryTypeInfo]="entryDefinitionDataModel" ></app-selfie-entry-type>

        </app-entry-definition-container>
        <!--end::Portlet-->

      </div>
    </div>
    <!--end::optionalSelfie-->

  </div>
</div>