
<div [formGroup]="parentGroup">
  <div formArrayName="{{arrayName}}">
    <div [formGroupName]="groupName">
      <input type="hidden" formControlName="order" [ngModel]="index">
      <div class="form-group m-form__group row">
        <div class="col-lg-4" [ngClass]="displayFieldCss('supportedChannelTypes')">
          <label>
            Channel Types:
          </label>
          <select #supportedChannelTypesInput formControlName="supportedChannelTypes" class=" selector form-control m-bootstrap-select m_selectpicker"
            multiple>
            <option *ngFor="let mediaChannel of supportedCaptureMediaChannels" [value]="mediaChannel.channelType">{{mediaChannel.name}}</option>

          </select>
          <app-field-state-display [displayMessage]="isFieldValid('supportedChannelTypes')" [message]="'Media Channel Field is Required!'"></app-field-state-display>
          
        </div>
        <div class="col-lg-4">
          <label for=""> </label>
          <div class="m-checkbox-inline">
            <label class="m-checkbox">
              Optional entry (can be skipped)
              <input type="checkbox" formControlName="isOptional">
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>