<div class="row">
  <div class="col-xl-8 offset-xl-2">
    <!--begin::Section-->
    <ul class="nav nav-tabs m-tabs-line--2x m-tabs-line m-tabs-line--danger" role="tablist">
      <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_form_confirm_1" role="tab">
          1. Basic Information
        </a>
      </li>
      <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_form_confirm_2" role="tab">
          2. Entry Definitions
        </a>
      </li>

    </ul>
    <div class="tab-content m--margin-top-40">
      <div class="tab-pane active" id="m_form_confirm_1" role="tabpanel">
        <div class="m-form__section m-form__section--first">
          <div class="m-form__heading">
            <h4 class="m-form__heading-title">
              Client Details
            </h4>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              Name:
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                Nick Stone
              </span>
            </div>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              Email:
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                nick.stone@gmail.com
              </span>
            </div>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              Phone
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                +206-78-55034890
              </span>
            </div>
          </div>
        </div>
        <div class="m-separator m-separator--dashed m-separator--lg"></div>
        <div class="m-form__section">
          <div class="m-form__heading">
            <h4 class="m-form__heading-title">
              Corresponding Address
              <i data-toggle="m-tooltip" class="m-form__heading-help-icon flaticon-info" title="Some help text goes here"></i>
            </h4>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              Address Line 1:
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                Headquarters 1120 N Street Sacramento 916-654-5266
              </span>
            </div>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              Address Line 2:
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                P.O. Box 942873 Sacramento, CA 94273-0001
              </span>
            </div>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              City:
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                Polo Alto
              </span>
            </div>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              State:
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                California
              </span>
            </div>
          </div>
          <div class="form-group m-form__group m-form__group--sm row">
            <label class="col-xl-3 col-lg-3 col-form-label">
              Country:
            </label>
            <div class="col-xl-9 col-lg-9">
              <span class="m-form__control-static">
                USA
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane " id="m_form_confirm_2" role="tabpanel">

        <!--begin::Section-->
        <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
          <!--begin::Item-->
          <div class="m-accordion__item">
            <div class="m-accordion__item-head collapsed" aria-expanded="false" role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse"
              href="#m_accordion_1_item_1_body">
              <span class="m-accordion__item-icon">
                <i class="fa flaticon-user-ok"></i>
              </span>
              <span class="m-accordion__item-title">
                1. Proof of Identity
              </span>
              <span class="m-accordion__item-mode">
                <i class="la la-plus"></i>
              </span>
            </div>
            <div class="m-accordion__item-body collapse " id="m_accordion_1_item_1_body" class=" collapse" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
              data-parent="#m_accordion_1">
              <!--begin::Content-->
              <div class="tab-content  m--padding-30">
                <div class="m-form__section m-form__section--first">
                  <div class="m-form__heading">
                    <h4 class="m-form__heading-title">
                      Account Details
                    </h4>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      URL:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        sinortech.vertoffice.com
                      </span>
                    </div>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      Username:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        sinortech.admin
                      </span>
                    </div>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      Password:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        *********
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-separator m-separator--dashed m-separator--lg"></div>
                <div class="m-form__section">
                  <div class="m-form__heading">
                    <h4 class="m-form__heading-title">
                      Client Settings
                    </h4>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      User Group:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        Customer
                      </span>
                    </div>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      Communications:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        Phone, Email
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Content-->
            </div>
          </div>
          <!--end::Item-->
          <!--begin::Item-->
          <div class="m-accordion__item">
            <div class="m-accordion__item-head collapsed" aria-expanded="false" role="tab" id="m_accordion_1_item_2_head" data-toggle="collapse"
              href="#m_accordion_1_item_2_body">
              <span class="m-accordion__item-icon">
                <i class="fa flaticon-user-ok"></i>
              </span>
              <span class="m-accordion__item-title">
                2. Proof of Address
              </span>
              <span class="m-accordion__item-mode">
                <i class="la la-plus"></i>
              </span>
            </div>
            <div class="m-accordion__item-body collapse " id="m_accordion_1_item_2_body" class=" collapse" role="tabpanel" aria-labelledby="m_accordion_1_item_2_head"
              data-parent="#m_accordion_1">
              <!--begin::Content-->
              <div class="tab-content  m--padding-30">
                <div class="m-form__section m-form__section--first">
                  <div class="m-form__heading">
                    <h4 class="m-form__heading-title">
                      Account Details
                    </h4>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      URL:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        sinortech.vertoffice.com
                      </span>
                    </div>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      Username:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        sinortech.admin
                      </span>
                    </div>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      Password:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        *********
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-separator m-separator--dashed m-separator--lg"></div>
                <div class="m-form__section">
                  <div class="m-form__heading">
                    <h4 class="m-form__heading-title">
                      Client Settings
                    </h4>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      User Group:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        Customer
                      </span>
                    </div>
                  </div>
                  <div class="form-group m-form__group m-form__group--sm row">
                    <label class="col-xl-4 col-lg-4 col-form-label">
                      Communications:
                    </label>
                    <div class="col-xl-8 col-lg-8">
                      <span class="m-form__control-static">
                        Phone, Email
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Content-->
            </div>
          </div>
          <!--end::Item-->
        </div>
        <!--end::Section-->
      </div>
    </div>
    <!--end::Section-->
    <!--end::Section-->
    <div class="m-separator m-separator--dashed m-separator--lg"></div>
    <div class="form-group m-form__group m-form__group--sm row">
      <div class="col-xl-12">
          <h5>If enerything seems okay, go ahead and submit.</h5>
      </div>
    </div>
  </div>
</div>