.dropdown-menu {
    width:100% !important;
}
.dropdown-menu > ngx-treeview-item> a.dropdown-header > span.text {
   font-size:14px !important;
   color: #868e96 !important;
}
.dropdown-menu > ngx-treeview-item> a:not(.dropdown-header) {
    padding-left: 35px !important;
 }
 
  ngx-treeview ngx-treeview-item ngx-treeview-item{color: #868e96;}
  ngx-treeview ngx-treeview-item ngx-treeview-item .form-check-input:checked + .form-check-label{color: black; background: #dddddd}
  ngx-treeview>div>div>ngx-treeview-item>div>div> div.form-check{background: #7ddcc9;
    border-radius: 3px;
    padding-left: 2px !important;
    padding-right: 5px !important;}
    ngx-treeview>div>div>ngx-treeview-item>div>div> div.form-check .form-check-input:checked + .form-check-label{font-weight: bold;}
    i.fa-caret-right:before{content: "\f055" !important; color:#dc7d87}
    i.fa-caret-down:before{content: "\f056" !important; color:#dca87d}