.proofPolicy .dropdown-menu {
    width: 100% !important;
    color: black;
}

.proofPolicy ngx-treeview>div>div>ngx-treeview-item>div>div>div>label {
    font-size: 1.1rem;
}

.proofPolicy .dropdown-menu>ngx-treeview-item>a.dropdown-header>span.text {
    font-size: 14px !important;
    color: #868e96 !important;
}

.proofPolicy .dropdown-menu>ngx-treeview-item>a:not(.dropdown-header) {
    padding-left: 35px !important;
}

.proofPolicy ngx-treeview ngx-treeview-item ngx-treeview-item {
    color: black;
    padding-left: 5px;
}

.proofPolicy ngx-treeview ngx-treeview-item ngx-treeview-item .form-check-input:checked+.form-check-label {
    color: black;
    background: #eeeeee;
}

.proofPolicy ngx-treeview>div>div>ngx-treeview-item>div>div>div.form-check {
    border-radius: 3px;
    padding-left: 2px !important;
    padding-right: 5px !important;
}

.proofPolicy ngx-treeview>div>div>ngx-treeview-item>div>div>div.form-check .form-check-input:checked+.form-check-label {
    font-weight: bold;
}

.proofPolicy i.fa-caret-right:before {
    font-size: 1.1em;
}

.proofPolicy i.fa-caret-down:before {
    font-size: 1.1em;
}

.proofPolicy div.treeview-item {
    margin-left: 0px !important;
}

.proofPolicy ngx-treeview>div>div>ngx-treeview-item>div>div.ng-star-inserted:nth-child(2) {
    margin-left: 1.7rem;
    border-left: 1px dashed gray;
}

.proofPolicy .btn.dropdown-toggle:not(.btn-success) {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    color: #9699a2;
    background-color: transparent;
}

.proofPolicy .btn.dropdown-toggle:not(.btn-success):hover {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    color: #9699a2;
    background-color: transparent !important;
}

.proofPolicy .btn.dropdown-toggle:not(.btn-success):focus {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    color: #9699a2;
    background-color: transparent !important;
}

.proofPolicy .dropdown button::after {
    right: 2rem !important;
    margin-top: 1.5em !important;
}

.proofPolicy .btn-outline-secondary:hover {
    background-color: transparent !important;
}

.proofPolicy .dropdown.show {
    background-color: transparent;
    border: #716aca 1px solid;
}
.proofPolicy .dropdown-menu.show{width:100%;}
.proofPolicy .show > .btn-outline-secondary.dropdown-toggle{background-color: transparent;}