 Value: {{ currentEntryGroup.valid }}
<div [formGroup]="parentGroup">
  <div formArrayName="{{arrayName}}">
    <div [formGroupName]="groupName">
      <input type="hidden" formControlName="order" [ngModel]="index">
      <div class="form-group m-form__group row">
        <div class="col-lg-4" [ngClass]="displayFieldCss('supportedChannelTypes')">
          <label>
            Channel Types:
          </label>
          <select #supportedChannelTypesInput formControlName="supportedChannelTypes" class="form-control m-bootstrap-select m_selectpicker"
            multiple>
            <option *ngFor="let mediaChannel of captureMediaChannels" [value]="mediaChannel.channelType">{{mediaChannel.name}}</option>
          </select>
          <app-field-state-display [displayMessage]="isFieldValid('supportedChannelTypes')" [message]="'Media Channel Field is Required!'"></app-field-state-display>

        </div>
        <div class="col-lg-4" [ngClass]="displayFieldCss('maxAttempts')">
          <label>
            Max Attempt:
          </label>
          <input type="number" min="1" max="3" class="form-control m-input--air" formControlName="maxAttempts" />
          <span class="m-form__help">
          </span>
          <div *ngIf="isFieldValid('maxAttempts')">
            <app-field-state-display *ngIf="getFieldByName('maxAttempts').errors.required" [displayMessage]="isFieldValid('maxAttempts')" [message]="'Max Attempts Field is Required!'"></app-field-state-display>
            <app-field-state-display *ngIf="getFieldByName('maxAttempts').errors.min" [displayMessage]="isFieldValid('maxAttempts')" [message]="'Minimum Max Attempts is 1'"></app-field-state-display>
            <app-field-state-display *ngIf="getFieldByName('maxAttempts').errors.max" [displayMessage]="isFieldValid('maxAttempts')" [message]="'Maximum Max Attempts is 3'"></app-field-state-display>
          </div>
        </div>

        <div class="col-lg-4">
          <label for=""> </label>
          <!-- <div class="m-checkbox-inline">
            <label class="m-checkbox">
              Optional entry (can be skipped)
              <input type="checkbox" formControlName="isOptional">
              <span></span>
            </label>
          </div> -->

          <div class="m-checkbox-list">

            <label class="m-checkbox">
              <input #isOptionalInput type="checkbox" formControlName="isOptional"> Optional entry (can be skipped)
              <span></span>
            </label>
            <label *ngIf="!isOptionalInput.checked" class="m-checkbox">
              <input type="checkbox" formControlName="canContinueOnFailure"> Continue On Failure
              <span></span>
            </label>

          </div>


        </div>

      </div>
      <div class="form-group m-form__group row">
        <div class="col-lg-4">
          <label>
            Additional Pages:
          </label>
          <select formControlName="askForAdditionalSteps" class="form-control m-input m-input--air">
            <option value="Never">Never ask for backside page</option>
            <option value="Always">Always ask for backside page</option>
            <option value="IfSupported">Always ask for backside page when required</option>
          </select>

          <span class="m-form__help">
          </span>
        </div>
        <!-- <div class="col-lg-4">
          <label for=""> Can Continue On Failure</label>
          <div class=" input-group m-form__group padding-top-0">
            <label class="m-checkbox">

              <input type="checkbox" class="form-control" formControlName="canContinueOnFailure">
              <span></span>
            </label>
          </div>

        </div> -->
        <div class="col-lg-4">
          <label for=""> </label>
          <div class=" m-checkbox-list">
            <label class="m-checkbox">

              <input #aed type="checkbox" class="form-control" formControlName="acceptExpiredDocuments"> Accept Expired Document
              <span></span>
            </label>
          </div>

        </div>

        <div *ngIf="aed.checked" class="col-lg-4">
          <div class="">
            <label>
              Expired For Up To Months
            </label>
            <div class="input-group m-form__group padding-top-0">
              <span class="input-group-addon">
                <label class="m-checkbox m-checkbox--single">
                  <input #upto type="checkbox" formControlName="isUpToMonthes" (change)="onChange(upto.checked)">
                  <span></span>
                </label>
              </span>

              <input type="text" formControlName="acceptExpiredUpToMonthes" class="form-control" aria-label="Text input with checkbox">
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="orm-group m-form__group row">
        <div class="col-lg-4"> -->
      <app-entry-policy [parentType]="entryType.ProofOfIdentity" [parentGroup]="currentEntryGroup" [arrayName]="documentProofPoliciesArrayName"
        [worldRegionInfo]="worldRegionInfo" [documentCategories]="documentCategories" [currentPolicyData]="currentEntryData.documentProofPolicies"></app-entry-policy>
      <!-- </div>
      </div> -->
    </div>
  </div>
</div>