<div class="row" [formGroup]="basicInfoGroup">
  <div class="col-xl-8 offset-xl-2">
    <div class="m-form__section m-form__section--first">
      <!-- <div class="m-form__heading">
        <h3 class="m-form__heading-title">
          Name & Code
          <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon flaticon-info" title="Some help text goes here"></i>
        </h3>
      </div> -->
      <div class="form-group m-form__group row" [ngClass]="displayFieldCss('name')">
        <label class="col-xl-3 col-lg-3 col-form-label">
          Name:
        </label>
        <div class="col-xl-9 col-lg-9">
          <input  name="name" type="text" class="form-control m-input m-input--air" formControlName="name">
          <app-field-state-display [displayMessage]="isFieldValid('name')" [message]="'Name Field is Required!'"></app-field-state-display>
        </div>
      </div>
      <div class="form-group m-form__group row" [ngClass]="displayFieldCss('code')">
        <label class="col-xl-3 col-lg-3 col-form-label">
          Code:
        </label>
        <div class="col-xl-9 col-lg-9">
          <input #code type="text" name="code" class="form-control m-input m-input--air" formControlName="code">
          <app-field-state-display [displayMessage]="isFieldValid('code')" [message]="'Code Field is Required!'"></app-field-state-display>
          <span class="m-form__help">
            https://{{businessCode}}.onboardingsuite.com/CaptureStudio/{{code.value}}
          </span>
        </div>
      </div>

      <div class="m-separator m-separator--dashed m-separator--sm"></div>

      <div class="form-group m-form__group row">
        <label class="col-xl-3 col-lg-3 col-form-label">
          Is Active
        </label>
        <div class="col-xl-9 col-lg-9">
          <label class="m-checkbox">
            <input name="isActive"  type="checkbox" formControlName="isActive">
            <span></span>
          </label>


        </div>
      </div>
      <div [formGroup]="basicInfoGroup" class="form-group m-form__group row">
        <label class="col-xl-3 col-lg-3 col-form-label">Allow Extra Documents
        </label>
        <div class="col-xl-9 col-lg-9">
          <label class="m-checkbox">
            <input name="canHaveExtraDocuments" type="checkbox" formControlName="canHaveExtraDocuments">
            <span></span>
          </label>

        </div>
      </div>
      <!-- <div class="form-group m-form__group row">
          <label class="col-xl-3 col-lg-3 col-form-label">
            Allow manual cropping
          </label>
          <div class="col-xl-9 col-lg-9">

            <label class="m-checkbox">
              <input type="checkbox">
              <span></span>
            </label>

          </div>
        </div> -->

      <div [formGroup]="basicInfoGroup.controls.introductionMessageGroup" class="form-group m-form__group row">
        <label class="col-xl-3 col-lg-3 col-form-label">
          Introduction message:
        </label>
        <div class="col-xl-1 col-lg-1">

          <label class="m-checkbox">
            <input name="imCheck"  type="checkbox" #introMsg formControlName="imCheck">
            <span></span>
          </label>
        </div>
        <div class="col-xl-8 col-lg-8">

          <!-- [attr.disabled]="introMsg.checked?null:''" -->
          <input *ngIf="introMsg.checked" name="imValue" formControlName="imValue" type="text" class="form-control m-input--air" aria-label="Text input with checkbox">

        </div>
      </div>
      <div [formGroup]="basicInfoGroup.controls.ageLimitGroup" class="form-group m-form__group row">
        <label class="col-xl-3 col-lg-3 col-form-label">
          Enable age limit:
        </label>
        <div class="col-xl-1 col-lg-1">

          <label class="m-checkbox">
            <input name="alCheck"  type="checkbox" formControlName="alCheck" #agelimit>
            <span></span>
          </label>
        </div>
        <div *ngIf="agelimit.checked" class="col-xl-3 col-lg-3">
          <!-- <input id="age_limite_min" formControlName="alMinValue" type="text" class="form-control m-input--air"> -->
          <input name="alMinValue"  type="number" min="1" class="form-control m-input--air" formControlName="alMinValue" />


        </div>
        <div *ngIf="agelimit.checked" class="col-xl-3 col-lg-3">
          <!-- <input id="age_limite_max" formControlName="alMaxValue" type="text" class="form-control m-input--air" > -->
          <input name="alMaxValue" type="number" max="100" class="form-control m-input--air" formControlName="alMaxValue" />

        </div>
      </div>



      <div class="m-separator m-separator--dashed m-separator--sm"></div>

      <div class="form-group m-form__group row">
        <label class="col-xl-3 col-lg-3 col-form-label">
          Reasons:
        </label>
        <div class="col-xl-9 col-lg-9">
          <tag-input name="reasons"  class="form-control m-input--air" formControlName="reasons" [secondaryPlaceholder]="'Type a Reason'" [placeholder]="'Another Reason'"></tag-input>

        </div>
      </div>

      <!-- {{reasons | json}} -->
    </div>

  </div>
</div>