<div [formGroup]="parentGroup">
  <div formArrayName="{{arrayName}}">
    <div [formGroupName]="groupName">
      <input type="hidden" formControlName="order" [ngModel]="index">
      <!-- {{item.value | json}} {{item.get('entryType').value}} 
        <app-temp-view></app-temp-view>  -->
      <div class="form-group m-form__group row">
        <div class="col-lg-4">
          <label>
            Channel Types:
          </label>
          <select #supportedChannelTypesInput formControlName="supportedChannelTypes" class=" selector form-control m-bootstrap-select m_selectpicker" multiple>
              <option  *ngFor="let mediaChannel of supportedCaptureMediaChannels" [value]="mediaChannel.channelType">{{mediaChannel.name}}</option>

          </select>
        </div>
        <div class="col-lg-4">
          <label>
            Max Attempt:
          </label>
          <input  type="number" min="1" max="3"   class="form-control m-input--air"  formControlName="maxAttempts"
            />
          <span class="m-form__help">
          </span>
        </div>

        <div class="col-lg-4">
          <label for=""> </label>
          <div class="m-checkbox-inline">
            <label class="m-checkbox">
              Optional entry (can be skipped)
              <input type="checkbox" formControlName="isOptional">
              <span></span>
            </label>
          </div>
        </div>

      </div>
      <div class="form-group m-form__group row">
    
        <div class="col-lg-4">
          <label for=""> Accept Expired Document</label>
          <div class=" input-group m-form__group padding-top-0">
            <label class="m-checkbox">
              
              <input #aed type="checkbox" class="form-control" formControlName="acceptExpiredDocuments">
              <span></span>
            </label>
          </div>

        </div>
        <div *ngIf="aed.checked" class="col-lg-4">
          <div class="">
            <label>
              Expired For Up To Months
            </label>
            <div class="input-group m-form__group padding-top-0">
              <span class="input-group-addon">
                <label class="m-checkbox m-checkbox--single">
                  <input #upto type="checkbox" formControlName="isUpToMonthes"  (change)="onChange(upto.checked)">
                  <span></span>
                </label>
              </span>

              <input type="text"  formControlName="acceptExpiredUpToMonthes"  class="form-control" aria-label="Text input with checkbox">
            </div>
          </div>
        </div>
      </div>

      <app-entry-policy [parentGroup]="documentProofPoliciesParentGroup" [arrayName]="documentProofPoliciesArrayName"
       [worldRegionInfo]="worldRegionInfo"
      [documentCategories]="documentCategories"></app-entry-policy>

    </div>
  </div>
</div>